/* || Navigation Rail - Common */

:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  height: 100%;
  top: 0;
  left: 0;
}

:host .menu-button-container {
  display: flex;
  align-items: center;
  height: 64px;
}

:host #menu-button {
  background: none;
  color: var(--md-sys-color-on-surface);
  margin-left: 4px;
}

:host .nav-items {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-x: hidden;
  overflow-y: scroll;
}

:host .nav-items .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  height: 64px;
  flex-shrink: 0;
}

:host .nav-items .nav-item .label-text {
  color: var(--md-sys-color-on-surface-variant);
}

:host .nav-items .nav-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--md-sys-color-on-surface-variant);
}

:host .nav-items .nav-item#active-indicator .icon {
  font-variation-settings:
    'FILL' 1;
}

/* || Navigation Rail - Modal - For compact and medium window classes */

@media (max-width: 839px) {
  :host {
    background-color: var(--md-sys-color-surface-container);
    box-shadow: var(--elevation-level-2);
    border-radius: 0 28px 28px 0;
    transform: translateX(-100%);
    transition: width 1s ease, transform 0.3s ease-in-out;
    padding-bottom: env(safe-area-inset-bottom);
  }

  :host.show {
    transform: translateX(0);
  }

  :host .nav-items {
    margin-top: 44px;
  }

  :host .nav-items .nav-item {
    height: 56px;
    width: max-content;
    gap: 8px;
    margin-left: 36px;
    margin-right: 36px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: var(--md-sys-shape-corner-full);
  }

  :host .nav-items .nav-item#active-indicator {
    background-color: var(--md-sys-color-secondary-container);
  }

  :host .nav-items .nav-item .label-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }

  :host .nav-items .nav-item#active-indicator .label-text {
    color: var(--md-sys-color-secondary);
  }

  :host .nav-items .nav-item#active-indicator .icon {
    color: var(--md-sys-color-on-secondary-container);
  }

  @media (hover:none) {
    :host .nav-items .nav-item {
      transition: background-color 250ms ease-in-out;
    }

    :host .nav-items .nav-item .icon,
    :host .nav-items .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-items .nav-item:active {
      background-color: var(--md-sys-color-inverse-surface) !important;
      transition: none;
    }

    :host .nav-items .nav-item:active .icon {
      color: var(--md-sys-color-inverse-on-on-surface) !important;
      transition: none;
    }

    :host .nav-items .nav-item:active .label-text {
      color: var(--md-sys-color-inverse-on-surface) !important;
      transition: none;
    }
  }

  @media (hover:hover) {
    :host .nav-items .nav-item {
      transition: background-color 250ms ease-in-out;
    }

    :host .nav-items .nav-item .icon,
    :host .nav-items .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-items .nav-item:hover {
      background-color: var(--md-sys-color-inverse-surface) !important;
    }

    :host .nav-items .nav-item:hover .icon,
    :host .nav-items .nav-item:hover .label-text {
      color: var(--md-sys-color-inverse-on-surface) !important;
    }

    :host .nav-items .nav-item:active {
      background-color: var(--md-sys-color-surface) !important;
      transition: none;
    }

    :host .nav-items .nav-item:active .icon,
    :host .nav-items .nav-item:active .label-text {
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }
  }
}

/* For compact window class */
@media (max-width: 599px) {
  :host {
    width: 320px;
  }
}

/* For medium window class */
@media (min-width: 600px) and (max-width: 839px) {
  :host {
    width: 360px;
  }
}

/* || Navigation Rail - For expanded, large and extra-large window classes */

@media (min-width: 840px) {
  :host {
    width: 96px;
    margin-left: env(safe-area-inset-left);
    background-color: var(--md-sys-color-surface-container);
  }

  :host .menu-button-container {
    display: none;
  }

  :host .nav-items {
    margin-top: calc(64px + 16px);
  }

  :host .nav-items .nav-item {
    flex-direction: column;
  }

  :host .nav-items .nav-item .label-text {
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  :host .nav-items .nav-item .icon {
    height: 36px;
    width: 56px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: var(--md-sys-shape-corner-full);
  }

  :host .nav-items .nav-item#active-indicator .icon {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  :host .nav-items .nav-item#active-indicator .label-text {
    color: var(--md-sys-color-secondary);
  }

  @media (hover:none) {
    :host .nav-item .icon {
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    }

    :host .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-item:active .icon {
      background-color: var(--md-sys-color-inverse-surface) !important;
      color: var(--md-sys-color-inverse-on-surface) !important;
      transition: none;
    }

    :host .nav-item:active .label-text {
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }
  }

  @media (hover:hover) {
    :host .nav-item .icon {
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    }

    :host .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-item:hover .icon {
      background-color: var(--md-sys-color-inverse-surface) !important;
      color: var(--md-sys-color-inverse-on-surface) !important;
    }

    :host .nav-item:hover .label-text {
      color: var(--md-sys-color-on-surface) !important;
    }

    :host .nav-item:active .icon {
      background-color: var(--md-sys-color-surface) !important;
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }

    :host .nav-item:active .label-text {
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }
  }
}