<header class="app-bar">
    <cxw-icon-button id="menu-button" size="m" color="standard"
        icon="{{ navService.navigationRailOpen() ? 'menu_open' : 'menu' }}"
        [attr.aria-label]="navService.navigationRailOpen() ? 'Close Menu' : 'Open Menu'"
        (click)="navService.toggleNavigationRail()">
    </cxw-icon-button>
    <div class="text-container">
        <div id="headline">EUI Web</div>
        <div id="subtitle">Template</div>
    </div>
    <div class="trailing-icons">
        <cxw-icon-button id="color-scheme-button" size="s" color="standard"
            icon="{{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}"
            [attr.aria-label]="themeService.isDarkMode() ? 'Switch to Light Mode' : 'Switch to Dark Mode'"
            (click)="toggleColorScheme()">
        </cxw-icon-button>
        <cxw-icon-button id="palette-button" size="s" color="standard" icon="palette" aria-label="Toggle Color Palette"
            (click)="switchTheme()">
        </cxw-icon-button>
        <cxw-icon-button id="font-button" size="s" color="standard" icon="brand_family" aria-label="Toggle Font"
            (click)="switchFont()">
        </cxw-icon-button>
    </div>
</header>