/* || Navigation Bar */

/* || Navigation Bar - Common */

:host {
  display: flex;
  position: fixed;
  z-index: 1;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  width: 100%;
  bottom: 0;
  justify-content: space-evenly;
  height: 64px;
  box-shadow: var(--elevation-level-2);
  background-color: var(--md-sys-color-surface-container);
  transform: translateY(0);
  transition: transform 0.5s ease;
}

:host::-webkit-scrollbar {
  display: none;
  /* WebKit browsers */
}

:host.remove {
  transform: translateY(100%);
}

:host .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

:host .nav-item .label-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--md-sys-color-on-surface-variant);
}

:host .nav-item#active-indicator .label-text {
  color: var(--md-sys-color-secondary);
}

:host .nav-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--md-sys-color-on-surface-variant);
}

:host .nav-item#active-indicator .icon {
  font-variation-settings:
    'FILL' 1;
  color: var(--md-sys-color-on-secondary-container);
}

/* || Navigation Bar - Vertical items - For compact window class */

@media (max-width: 599px) {

  :host {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* For standalone mode */
  @media (display-mode:standalone) {
    :host {
      height: auto;
      min-height: 64px;
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  :host .nav-item {
    flex-direction: column;
  }

  :host .nav-item .label-text {
    margin-top: 4px;
  }

  :host .nav-item .icon {
    height: 32px;
    width: 56px;
    border-radius: var(--md-sys-shape-corner-full);
    color: var(--md-sys-color-on-surface-variant);
  }

  :host .nav-item#active-indicator .icon {
    background-color: var(--md-sys-color-secondary-container);
  }

  @media (hover:none) {
    :host .nav-item .icon {
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    }

    :host .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-item:active .icon {
      background-color: var(--md-sys-color-inverse-surface) !important;
      color: var(--md-sys-color-inverse-on-surface) !important;
      transition: none;
    }

    :host .nav-item:active .label-text {
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }
  }

  @media (hover:hover) {
    :host .nav-item .icon {
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    }

    :host .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-item:hover .icon {
      background-color: var(--md-sys-color-inverse-surface) !important;
      color: var(--md-sys-color-inverse-on-surface) !important;
    }

    :host .nav-item:hover .label-text {
      color: var(--md-sys-color-on-surface) !important;
    }

    :host .nav-item:active .icon {
      background-color: var(--md-sys-color-surface) !important;
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }

    :host .nav-item:active .label-text {
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }
  }
}

/* || Navigation Bar - Horizontal items - For medium window class */

@media (min-width: 600px) and (max-width: 839px) {

  :host {
    padding-top: 12px;
    padding-bottom: 12px;
  }


  :host .nav-item {
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 4px;
    border-radius: var(--md-sys-shape-corner-full);

  }

  :host .nav-item#active-indicator {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-secondary);
  }

  :host .nav-item .icon {
    height: 32px;
    color: var(--md-sys-color-on-surface-variant);
  }

  @media (hover:none) {
    :host .nav-item {
      transition: background-color 250ms ease-in-out;
    }

    :host .nav-item .icon,
    :host .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-item:active {
      background-color: var(--md-sys-color-inverse-surface) !important;
      transition: none;
    }

    :host .nav-item:active .icon,
    :host .nav-item:active .label-text {
      color: var(--md-sys-color-inverse-on-surface) !important;
      transition: none;
    }
  }

  @media (hover:hover) {
    :host .nav-item {
      transition: background-color 250ms ease-in-out;
    }

    :host .nav-item .icon,
    :host .nav-item .label-text {
      transition: color 250ms ease-in-out;
    }

    :host .nav-item:hover {
      background-color: var(--md-sys-color-inverse-surface) !important;
    }

    :host .nav-item:hover .icon,
    :host .nav-item:hover .label-text {
      color: var(--md-sys-color-inverse-on-surface) !important;
    }

    :host .nav-item:active {
      background-color: var(--md-sys-color-surface) !important;
      transition: none;
    }

    :host .nav-item:active .icon,
    :host .nav-item:active .label-text {
      color: var(--md-sys-color-on-surface) !important;
      transition: none;
    }
  }
}

/* || Navigation Bar - For expanded, large and extra-large window classes */

@media (min-width: 840px) {
  :host {
    display: none;
  }
}