<div class="flexible-navigation-bar">
    <button class="nav-item" aria-label="Home" routerLink="/" (click)="scrollingService.scrollToTop();">
        <span class="material-symbols-outlined icon">home</span>
        <span class="label-text">Home</span>
    </button>
    <button class="nav-item" aria-label="About" routerLink="/about" (click)="scrollingService.scrollToTop();">
        <span class="material-symbols-outlined icon">person</span>
        <span class="label-text">About</span>
    </button>
    <button class="nav-item" aria-label="Gallery" routerLink="/gallery" (click)="scrollingService.scrollToTop();">
        <span class="material-symbols-outlined icon">photo</span>
        <span class="label-text">Gallery</span>
    </button>
    <button class="nav-item" aria-label="Blog">
        <span class="material-symbols-outlined icon">newspaper</span>
        <span class="label-text">Blog</span>
    </button>
    <button class="nav-item" aria-label="Contact">
        <span class="material-symbols-outlined icon">contact_page</span>
        <span class="label-text">Contact</span>
    </button>
</div>