/* || Custom elevation levels */

:root {
    --elevation-level-0: none;
    --elevation-level-1:
        0px 1px 2px 0px rgba(0, 0, 0, 0.3),
        /* key shadow */
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    /* ambient shadow */
    --elevation-level-2:
        0px 1px 2px 0px rgba(0, 0, 0, 0.3),
        0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --elevation-level-3:
        0px 1px 3px 0px rgba(0, 0, 0, 0.3),
        0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    --elevation-level-4:
        0px 2px 3px 0px rgba(0, 0, 0, 0.3),
        0px 6px 10px 4px rgba(0, 0, 0, 0.15);
    --elevation-level-5:
        0px 4px 4px 0px rgba(0, 0, 0, 0.3),
        0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}