<cxw-slideshow [images]="[
    { src: 'https://placehold.co/1600x900', alt: 'Template Image 1600x900' },
    { src: 'https://placehold.co/3000x2000', alt: 'Template Image 3000x2000' },
    { src: 'https://placehold.co/4000x3000', alt: 'Template Image 4000x3000' }
  ]" />
<h1>Home</h1>
<main>
    <cxw-card [variant]="'elevated'">
        <h2>Welcome to codeX WebSight!</h2>
        <h3>Introduction</h3>
        <p>codeX WebSight is an Angular-based website template inspired by Google's Material Design Guidelines. Since
            Material Web Components (MWC) entered maintenance mode on June 10, 2024, this project focuses on building
            custom components to ensure independence from MWC.</p>
        <p>Additionally, features unrelated to MWC are also being developed to improve the usability and modularity of
            the template. Feel free to check out <a href="https://material.io/" target="_blank">Material Design</a> or
            the <a href="https://github.com/eorsjr/eui-web" target="_blank">GitHub repository</a> of this project!</p>
    </cxw-card>
</main>