<cxw-icon-button id="close-button" color="filled" size="m" icon="close" aria-label="Close Lightbox"
  (click)="closeLightbox()">
</cxw-icon-button>
<cxw-icon-button id="previous-button" color="tonal" size="s" icon="arrow_back" aria-label="Previous"
  (click)="showPreviousImage()">
</cxw-icon-button>
<cxw-icon-button id="next-button" color="tonal" size="s" icon="arrow_forward" aria-label="Next"
  (click)="showNextImage()">
</cxw-icon-button>
<ng-container *ngIf="lightboxService.currentImage() as img">
  <img id="lightbox-image" [src]="img.src" [alt]="img.alt || ''" [class.fade-in]="loaded" (load)="onImageLoad()">
  <div id="lightbox-caption">{{ img.alt }}</div>
</ng-container>