<h1>Visuals</h1>
<main>
    <cxw-card [variant]="'elevated'">
        <div class="hero-content" style="aspect-ratio: 2.4/1;">
            <cxw-slideshow [images]="[
                { src: 'https://placehold.co/1600x900', alt: 'Template Image 1600x900' },
                { src: 'https://placehold.co/3000x2000', alt: 'Template Image 3000x2000' },
                { src: 'https://placehold.co/4000x3000', alt: 'Template Image 4000x3000' }
            ]" />
        </div>
        <h2>Features</h2>
        <h3>Related to Visuals</h3>
        <p>No website is finished until some visual content is present. These features help you display your content
            simply, yet effectively.</p>
        <ul>
            <li>Image Grid</li>
            <li>Lightbox</li>
            <li>Slideshow</li>
        </ul>
        <p>Fun fact: slideshows can be displayed within cards.</p>
        <cxw-image-grid [images]="[
            {src: 'https://placehold.co/4000x3000', width: '4000px', height: '3000px', alt: 'Template Image 4000x3000'},
            {src: 'https://placehold.co/2000x2500', width: '2000px', height: '2500px', alt: 'Template Image 2000x2500'},
            {src: 'https://placehold.co/3000x2000', width: '3000px', height: '2000px', alt: 'Template Image 3000x2000'},
            {src: 'https://placehold.co/1600x900', width: '1600px', height: '900px', alt: 'Template Image 1600x900'}
        ]" />
    </cxw-card>
</main>